<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Batalhar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="gerarPokemonAleatorio()" expand="full">Batalhar</ion-button>

 <ion-card *ngIf="pokemonDetails">
    <ion-card-header [ngClass]="comparisonResultColor">
      <ion-card-title>{{ pokemonDetails.name | uppercase }}</ion-card-title>
      <ion-img *ngIf="pokemonDetails.sprites && pokemonDetails.sprites.front_default"
                alt='' [src]="pokemonDetails.sprites.front_default"
                class="img-margin"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Habilidades:{{ totalAbilities }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Altura: {{ pokemonDetails.height }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Peso: {{ pokemonDetails.weight }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>




  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
